extends layout

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      // Content Row
    .row
      // Content Column
      .col-lg-12.mb-4
        .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-primary #{title}
          .card-body
            .row
              .col-lg-7.mb-2
                h1 
                  video-js#my_video_2.vjs-default-skin.vjs-big-play-centered.vjs-16-9(controls='', preload='auto', width='500', height='300', poster='https://stormin.audio/wp-content/uploads/2019/06/Dax.jpg')
                    source(src='https://rtmp.darkknight.co.uk:8443/' + '/index.m3u8', type='application/x-mpegURL')
                  script(src='https://unpkg.com/video.js/dist/video.js')
                  script(src='https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js')
                  script.
                    var player = videojs('my_video_2');
                    player.play();
              .col-lg-5.mb-2
                form(method='POST', action='/users/edit/streamset/')
                    
                    
                    #form-group
                        label Title:
                        input.form-control(name='name', type='text' )
                    #form-group
                        label Tags:
                        input.form-control(name='email', type='text')
                    
                       
                    br      
                                  
                                                                          
                    input.btn.btn-primary(type='submit', value='Go Live')
  // /.container-fluid
  // End of Main Content