extends layout

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 Dashboard
    // Content Row
    .row
      .col-lg-12
        // Basic Card Example
        .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-primary Notifications
          .card-body
            ul.list-group
              each not, i in notification
                li.list-group-item 
                  = not.datecreated + ' - ' + not.notification 

                 
  // /.container-fluid
  // End of Main Content
  #fbLive.modal.fade(tabindex='-1', role='dialog', aria-labelledby='fbLiveLabel', aria-hidden='true')
      .modal-dialog(role='document')
          .modal-content
              .modal-header
                  h5#fbLiveLabel.modal-title Push Live Stream
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true')
              .modal-body
                  form
                    #form-group
                        label Stream URL :
                        input.form-control(type='text' id="streamUrl" placeholder='rtmp://rtmp.mystreams.co.uk')
                    #form-group
                        label Stream Key:
                        input.form-control(type='password' id="streamKey")
                    #form-group
                        input.form-control(hidden type='text' id="streamkey" value=user.streamkey)    
                        br
                    input.btn.btn-primary.pushStream(type='button', value='Submit')
                    a.btn.btn-danger(href='/') Cancel