extends layout

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    
      // Content Row
    .row
      // Content Column
      .col-lg-12.mb-4
        .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-primary User Options
          .card-body
            .row
              .col-lg-12.mb-2
               form
                .form-row
                  .form-group.col-md-6
                    label(for='inputEmail4') First Name
                    input#inputEmail4.form-control(name='first' type='first', value='')
                  .form-group.col-md-6
                    label(for='inputPassword4') Last Name
                    input#inputPassword4.form-control(name='last' type='last', placeholder='')
                .form-row
                  .form-group.col-md-6
                    label(for='inputEmail4') Email
                    input#inputEmail4.form-control(name='email' type='email', placeholder='Email' disbale)
                  .form-group.col-md-6
                    label(for='inputPassword4') Phone
                    input#inputPassword4.form-control(name='phone' type='phone', placeholder='')    
                .form-group
                  label(for='inputAddress') Billing Address 
                  input#inputAddress.form-control(name='address' type='address', placeholder='1234 Main St')
                .form-group
                  label(for='inputAddress2') Address 2
                  input#inputAddress2.form-control(name='address2' type='address2', placeholder='Apartment, studio, or floor')
                .form-row
                  .form-group.col-md-6
                    label(for='inputCity') City
                    input#inputCity.form-control(type='text')
                  .form-group.col-md-4
                    label(for='inputState') County
                    select#inputState.form-control
                      option(selected='') Choose...
                      option ...
                  .form-group.col-md-2
                    label(for='inputZip') Postcode
                    input#inputZip.form-control(type='text')
                button.btn.btn-primary(type='submit') Save  

  // /.container-fluid
  // End of Main Content